@import "../styles/variables.scss";

.about-header {
  background-image: url("../Images/aboutusbg.jpg");
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: $black-overlay;
  border-bottom-left-radius: 250% 400px;
  border-bottom-right-radius: 250% 400px;
  position: relative;

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.aboutusimg {
  border-radius: 6px;
  margin: 100px 0;
  width: 100%;
}

.corevalues-section {
  padding: 100px 0;
  background-color: #f4f6f9;

  .cv-card {
    h1 {
      color: $theme-color-dark;
    }
    p {
      font-size: 20px;
    }
  }
}

.advantages-section {
  .advantages-list {
    list-style: none;
    padding-left: unset;

    li {
      padding: 5px 0;
    }

    li::before {
      content: "\2714";
      color: $theme-color-dark;
      margin-right: 10px;
      font-weight: bold;
    }
  }

  .advantages-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
}

.ourteam-section {
  background-image: url("../Images/teambg.jpg");
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: overlay;
  padding: 80px 0 50px;

  .team-carousel {
    .member-card {
      padding: 70px 20px;
      backdrop-filter: blur(10px);
      background-color: #00000050;
      border-radius: 6px;

      .member-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 0 auto 20px;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
      }

      .member-info {
        h4 {
          color: $white;
        }

        .member-sa {
          width: 50%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          a {
            color: $white;
            font-size: 18px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .fb {
            background-color: #4267b2;
          }

          .ig {
            background-image: radial-gradient(
                circle farthest-corner at 35% 90%,
                #fec564,
                transparent 50%
              ),
              radial-gradient(
                circle farthest-corner at 0 140%,
                #fec564,
                transparent 50%
              ),
              radial-gradient(
                ellipse farthest-corner at 0 -25%,
                #5258cf,
                transparent 50%
              ),
              radial-gradient(
                ellipse farthest-corner at 20% -50%,
                #5258cf,
                transparent 50%
              ),
              radial-gradient(
                ellipse farthest-corner at 100% 0,
                #893dc2,
                transparent 50%
              ),
              radial-gradient(
                ellipse farthest-corner at 60% -20%,
                #893dc2,
                transparent 50%
              ),
              radial-gradient(
                ellipse farthest-corner at 100% 100%,
                #d9317a,
                transparent
              ),
              linear-gradient(
                #6559ca,
                #bc318f 30%,
                #e33f5f 50%,
                #f77638 70%,
                #fec66d 100%
              );
          }

          .tw {
            background-color: #00acee;
          }

          a > svg {
            transition: all 0.5s ease-in-out;
          }

          a:hover > svg {
            transform: rotate(-360deg);
          }
        }
      }
    }

    .member-card:hover > .member-img {
      transform: scale(1.1);
    }

    .owl-carousel.owl-theme {
      .owl-stage {
        margin: 35px 0;
      }
  
      .owl-nav button {
        height: 500px;
        width: 130px;
        opacity: 0;
        border: none;
        outline: none;
        z-index: 5;
        background-color: grey;
      }
  
      .owl-nav button.owl-prev {
        position: absolute;
        top: 5%;
        left: -7%;
        cursor: url("../Images/backarrow.png"), auto;
      }
  
      .owl-nav button.owl-next {
        position: absolute;
        top: 5%;
        right: -7%;
        cursor: url("../Images/rightarrow.png"), auto;
      }
  
      .owl-dots {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: 480px) {
  .about-header {
    background-position: center;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    height: 100vh;

    .header-text {
      width: 95%;
    }
  }

  .ourteam-section .team-carousel .owl-carousel.owl-theme .owl-nav button {
    display: none;
  }
}

// @media screen and (min-width: 0) and (max-width: 768px) {
//   .services-section .services-div {
//     grid-template-columns: auto;
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1200px) {
//   .bpbtnspan {
//     display: none;
//   }
// }