@import url(./variables.scss);

.blog-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  width: 100%;
  padding: 100px 0;
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .blog-grid {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 0) and (max-width: 800px) {
    .blog-grid {
        grid-template-columns: auto;
    }
}
