@import "../styles/variables.scss";

.ce-btn {
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.2s;
}

.ce-btn-dark {
    border: 2px solid $theme-color-dark;
    background-color: $theme-color-dark;
    color: $white;
}

.ce-btn-dark:hover {
    background-color: $white;
    color: $theme-color-dark;
}

.ce-btn-light {
    border: 2px solid $white;
    background-color: transparent;
    color: $white;
}

.ce-btn-light:hover {
    background-color: $white;
    color: $theme-color-dark;
}