@import "./variables.scss";

footer {
  background-color: #0f1113;
  color: #a6a6a6;
  .container:first-child {
    padding: 80px 15px 0;
  }
  .footer-logo {
    width: 200px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    li {
      padding: 6px 0;
    }
    li:hover {
      color: $theme-color-dark;
    }
  }
  form {
    position: relative;
    .form-control {
      background-color: #dfdfdf30;
      border: none;
      padding: 10px 45px 10px 16px;
      transition: all 0.5s ease;
    }
    .subscribe-btn {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      outline: none;
      background-color: $theme-color-dark;
      color: $white;
      font-size: 24px;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 10px;
    }
  }
  .sm-links {
    color: $theme-color-dark;
    display: flex;
    font-size: 24px;
    justify-content: flex-end;

    .sm-icon {
      transition: all 0.5s ease;
    }

    .sm-icon:hover {
      color: $white;
      transform: translateY(-10px);
    }
  }
  span {
    color: $theme-color-dark;
  }
}
