@import "../styles/variables.scss";

@font-face {
  font-family: DMSerif;
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

.headingh1 {
  font-size: 50px;
}

.sechead {
  font-family: DMSerif;
}

.mail-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000090;

  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header-section {
  background-image: url("../Images/bgmain.jpg");
  height: 700px;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: $black-overlay;
  border-bottom-left-radius: 250% 400px;
  border-bottom-right-radius: 250% 400px;
  position: relative;

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card-section {
  position: absolute;
  bottom: -12%;
  right: 0;
  left: 0;
  margin: 0 auto;

  .header-card {
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 5%);
    padding: 30px;
    margin-bottom: 10px;

    .card-icon {
      background-color: #dfdfdf50;
      padding: 10px;
      border-radius: 6px;
      width: 70px;
      height: 70px;
      text-align: center;
      color: $theme-color-dark;
    }
  }

  .header-card:hover {
    h3 {
      color: $theme-color-dark;
    }
  }
}

.aboutus-section {
  margin-top: 150px;

  .aboutus-text {
    div {
      margin-top: 150px;
    }
  }

  .aboutus-image {
    img {
      margin-left: auto;
      display: block;
      border-radius: 6px;
      height: 450px;
      object-fit: cover;
      width: 100%;
    }
  }
}

.services-section {
  .services-div {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;

    .services-card {
      width: 400px;
      margin: 0 auto;

      .services-icon {
        width: 70px;
        height: 70px;
        background-color: #dfdfdf50;
        text-align: center;
        border-radius: 6px;
        padding: 15px;
      }
    }
  }
}

.couter-section {
  // background-image: url("../Images/coutersecimg.jpg");
  //background-color: $black-overlay;
  padding: 120px 0;
  background-size: cover;
  background-color: #f4f6f9;
  background-blend-mode: overlay;
  background-attachment: fixed;

  .couter-box {
    .cs-icon {
      transition: 0.5s;
      color: $theme-color-dark;
    }

    // .single-counter {
    //   color: $white;
    // }

    .single-counter:hover > .cs-icon {
      transform: translateY(-10px);
    }
  }
}

.blog-section {

  .owl-carousel.owl-theme {
    .owl-stage {
      margin: 35px 0;
    }

    .owl-nav button {
      height: 500px;
      width: 130px;
      opacity: 0;
      border: none;
      outline: none;
      z-index: 5;
      background-color: grey;
    }

    .owl-nav button.owl-prev {
      position: absolute;
      top: 5%;
      left: -5%;
      cursor: url("../Images/backarrow.png"), auto;
    }

    .owl-nav button.owl-next {
      position: absolute;
      top: 5%;
      right: -5%;
      cursor: url("../Images/rightarrow.png"), auto;
    }

    .owl-dots {
      display: none;
    }
  }
}

.blog-card {
  width: 370px;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #dfdfdf40;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  margin: 0 auto 20px;
  background-color: $white;

  img {
    width: 100%;
  }

  .blog-url {
    text-decoration: none;
    color: grey;
  }

  .blog-icon {
    color: $theme-color-dark;
  }
}

.blog-card:hover > div > p > .blog-url {
  color: $theme-color-dark;
}

.blog-card:hover {
  box-shadow: 0 25px 30px 0 rgb(0 138 255 / 5%);
  transform: translatey(-15px);
  border: 1px solid rgb(0 183 255 / 5%);
}

.appointment-section {
  background-image: url("../Images/appointbgalt.jpg");
  background-size: cover;
  background-color: $black-overlay;
  background-blend-mode: overlay;

  .container {
    padding: 150px 15px;

    .appointment-form {
      background-color: $white;
      border-radius: 6px;
      padding: 40px 30px;
      box-shadow: 0 25px 30px 0 rgb(0 0 0 / 5%);
      margin-top: 20px;
    }
  }
}

.form-control {
  background-color: #dfdfdf30;
  border: none;
  padding: 10px 16px;
}

.testi-section {
  .testi-carousel {
    .testi-card {
      margin: 0 20px;
      background-color: $white;
      .review-text {
        padding: 20px 30px;
        border: 1px solid #dfdfdf70;
        border-radius: 6px;
        margin: 30px 0;
        transition: all 0.7s ease;
        p::before {
          content: url("../Images/leftquote.png");
          margin: 10px;
          opacity: 0.2;
          transition: all 0.7s ease;
        }
        p:hover::before{
          opacity: 1;
        }
      }

      .review-text:hover {
        box-shadow: 2px 2px 20px rgb(0 0 0 / 5%);
      }

      .review-text::before {
        content: "";
        width: 14px;
        height: 14px;
        display: block;
        transform: translateX(-50%) rotateZ(-135deg);
        position: absolute;
        bottom: 95px;
        left: 4%;
        z-index: 1001;
        background-color: $white;
        border-left: 1px solid #dfdfdf70;
        border-top: 1px solid #dfdfdf70;
      }

      .review-by-info {
        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          border-radius: 50px;
        }
      }
    }

    .owl-dots {
      position: absolute;
      bottom: 1%;
      right: 1%;
    }

    .owl-theme .owl-dots .owl-dot.active span {
      background-color: $theme-color-dark;
    }
  }
  #tsparticles {
    position: absolute;
    height: 100%;
    z-index: -1;
  }
}

@media screen and (min-width: 0) and (max-width: 480px) {
  .header-section {
    background-image: url("../Images/bgmain.jpg");
    background-position: center;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    height: 100vh;

    .header-text {
      width: 95%;
    }
  }

  .card-section {
    display: none;
  }

  .aboutus-section {
    margin-top: unset;
    .aboutus-text div {
      margin: 50px 0;
    }
    .aboutus-image {
      img {
        display: none;
      }
    }
  }

  .services-section .services-div .services-card {
    width: 100%;
  }  

  .couter-box {
    flex-wrap: wrap;
    .single-counter {
      margin: 0 20px 20px;
    }
  }

  .testi-section .testi-carousel .testi-card .review-text::before {
    left: 15%;
  }
}

@media screen and (min-width: 0) and (max-width: 768px) {
  .services-section .services-div {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .bpbtnspan {
    display: none;
  }
}
