@font-face {
  font-family: SulpharPoint;
  src: url(../fonts/SulphurPoint-Regular.ttf);
}

body {
  margin: 0;
  font-family: SulpharPoint !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
