@import "../styles/variables.scss";

header {
  box-shadow: none;
  line-height: 35px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 5;
  transition: all 0.5s ease-in-out;

  .mb-menu {
    display: none;
  }

  .nav-link-color {
    font-weight: bold;
    color: $theme-color-dark !important;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .navbar-nav:hover > .nav-item > .nav-link {
    opacity: 0.4;
  }

  .navbar-nav .nav-item .nav-link:hover {
    opacity: 1;
  }
}

header.sticky {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: $white;
  animation: animateDown 0.5s ease-in-out;
}

@keyframes animateDown {
  from {
    transform: translateY(-5.5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@media screen and (min-width: 0) and (max-width: 991px) {
  header {
    .mb-menu {
      display: block;
    }

    .mb-menu {
      background-image: url("../Images/menuwhite.png");
      width: 24px;
      height: 24px;
      background-size: contain;
      outline: none;
      border: none;
      background-color: transparent;
      margin-top: 14px;
      z-index: 10;
      position: absolute;
      top: 5%;
      right: 5%;
      transition: 0.4s;

      &.mopen {
        background-image: url("../Images/close.png");
      }
    }

    .navbar-nav {
      width: 300px;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -300px;
      z-index: 2;
      background-color: #ffffff;
      padding: 50px 30px;
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
      box-shadow: 0 25px 50px 0 rgb(0 0 0 / 50%);

      &.mopen {
        right: 0;
        opacity: 1;
      }

      .nav-item {
        .nav-link {
          padding: unset;
          text-align: center;
        }
      }
    }
  }

  header.sticky {
    .mb-menu {
      background-image: url("../Images/menu.png");
      &.mopen {
        background-image: url("../Images/close.png");
      }
    }
  }
  
}
