$theme-color-dark: #00bdf1;
// $theme-color-dark: #5bbf55;
$black: #000000;
$black-overlay: #00000090;
$white: #ffffff;
$grey: #dfdfdf;

h6 {
  color: $theme-color-dark;
  font-weight: bold;
  letter-spacing: 1px;
}

iframe {
  width: 100%;
  border: none;
}

.ce-icon {
    color: $theme-color-dark;
}